<turbo-frame id="dashboard-body">

  <div class="flex space-x-2 flex-col">
    <div class="space-y-6 bg-white shadow-lg rounded-lg"><!--horizantil margin is just for display-->
      <div class="flex px-4 py-6">
        <div class="space-y-2">
          <div class="flex flex-col justify-between">
            <div class="flex">
              <h2 class="text-lg m-2 font-semibold text-gray-900 -mt-1">Name : </h2><%= @author.name %>
            </div>
            <div class="flex">
              <h2 class="text-lg m-2 font-semibold text-gray-900 -mt-1">Email : </h2><%= @author.email %>
            </div>
            <div class="flex">
              <h2 class="text-lg m-2 font-semibold text-gray-900 -mt-1">Blogs : </h2><%= @author.blogs.count %>
            </div>
            <div class="flex">
              <h2 class="text-lg m-2 font-semibold text-gray-900 -mt-1">Posts : </h2><%= @author.posts.count %>
            </div>
          </div>
          <div class="mt-4 flex items-center space-y-2">
            <div class="flex mr-2 text-gray-700 text-sm mr-8">
              <svg fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-1" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"/>
              </svg>
              <span>Subscribers views on author</span>
            </div>
          </div>
          <div class="flex antialiased">
            <div class="basis-4/5 space-y-4">
              <% @author.comments.each do |comment| %>
                <div class="flex grow">
                  <div class="border rounded-lg px-4 py-2 leading-relaxed">
                    <div class="space-y-4">
                      <div>
                        <div class="flex-auto w-full bg-gray-100 rounded-lg px-4 py-2 leading-relaxed">
                          <strong><%= comment.content %> </strong><span class="text-xs text-gray-400"></span>
                          <p class="text-xs sm:text-sm">
                            commented_by: <%= comment.subscriber.email %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <% if session[:user_type] == 'subscriber' %>
                <%= form_with model: Comment, url: "/author/#{@author.id}/comment/new", method: :post, class: "bg-white" do |form| %>
                  <div>
                    <%= form.text_area :content, placeholder: "comment", class: "w-full rounded-lg border-gray-200 p-3 text-sm" %><br>
                  </div>
                  <div class="flex justify-end px-4">
                    <%= form.submit "comment", class: "px-2.5 py-1.5 rounded-md text-white text-sm bg-indigo-500" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
